*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.js_hi
*.js_o
*.jsexe
*.log
*.o
*.pid
*.prof
*.seed
.cabal-sandbox/
.grunt
.hpc
.hsenv
.lock-wscript
.node_repl_history
.npm
.nyc_output
.stack-work/
.tern-port
build/Release
cabal-dev
cabal.project.local
cabal.sandbox.config
coverage
dist
dist-*
jspm_packages
lib-cov
logs
node_modules
npm-debug.log*
pids
